<!DOCTYPE html>
<html>
<body>

<p>Layout para o bandejão central</p>

<img src="/assets/bandejao_central_img.png" usemap="#centralmapa"/>

<map name="centralmapa">
  <area shape="rect" coords="76,0,82,8" >
  <area shape="rect" coords="76,0,82,16" >
  <area shape="rect" coords="76,0,82,24" >
  <area shape="rect" coords="76,0,82,32" >
  <area shape="rect" coords="76,0,82,40" >
  <area shape="rect" coords="76,0,82,48" >
  <area shape="rect" coords="76,0,82,56" >
  <area shape="rect" coords="76,0,82,64" >
</map>


</body>
</html>