<!DOCTYPE html>
<html>
<body>

<p style="text-align:center;">Layout para o bandejão da física</p>

<img src="/assets/bandejao_fisica_mao.jpg" width=900 height=600 usemap="#fisicamapa"/>

<map name="fisicamapa">
  <area shape="rect" coords="700,220,760,250" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,250,760,280" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,280,760,310" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,310,760,340" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,340,760,370" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,370,760,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="670,350,700,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="640,350,670,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="610,350,640,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="580,350,610,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="550,350,580,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="520,350,550,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="490,350,520,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="460,350,490,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="430,350,460,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="400,350,430,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="370,350,400,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="340,350,370,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="310,350,340,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="280,350,310,400" alt="Sun" href=img_reserva.htm>
</map>

</body>
</html>