<% if  logged_in? %>

<!DOCTYPE html>
<html>
<body>

<p style="text-align:center;">Layout para o bandejão central</p>

<img src="/assets/bandejao_central_fila.png" usemap="#centralmapa" />

<map name="centralmapa">
  <area shape="rect" coords="76,0,82,8" >
  <area shape="rect" coords="76,0,82,16" >
  <area shape="rect" coords="76,0,82,24" >
  <area shape="rect" coords="76,0,82,32" >
  <area shape="rect" coords="76,0,82,40" >
  <area shape="rect" coords="76,0,82,48" >
  <area shape="rect" coords="76,0,82,56" >
  <area shape="rect" coords="76,0,82,64" >
</map>


</body>
</html>

<% else %>
<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 