<h1>New Admin</h1>
<h2> Todos os campos são obrigatórios.</h2>
<h2> O Login tem que ser único.</h2>

<%= render 'form', admin: @admin %>
<%= text_field :admin, :senha %>
<%= text_field :admin, :senha_confirmation %>

<%= link_to 'Back', admins_path %>
