<footer class="footer">
  <small>
    Trabalho para a disciplina PMR3304-Sistemas de Informação. Engenharia Mecatrônica, Escola Politécnica - USP
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><a href="http://www.poli.usp.br//">Poli</a></li>
    </ul>
  </nav>
</footer>